################################################################################
#
#  MIVIA Rover - Network Configuration Systemd Service Unit
#  File: set-network.service
#
################################################################################

[Unit]
Description=MIVIA Rover Network Bringup (CAN + optional WiFi)
Wants=NetworkManager.service
After=NetworkManager.service

Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot

EnvironmentFile=/etc/mivia_rover/env/mivia_rover.env

ExecStart=/etc/mivia_rover/scripts/set_network.sh

RemainAfterExit=yes

Restart=on-failure
RestartSec=2s

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target